<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=3.0, user-scalable=yes" />
    <title>check_know</title>
</head>
<body>
<p>勾选不认识的单词</p>
<form method="post" action="/{{ username }}/mark">
    <input type="submit" name="add-btn" value="加入我的生词簿"/>
    {% for x in you_list %}
    <p><font color="grey">{{ x.count }}</font>: <a href="{{ x.link }}" title="{{ x.appear }}">{{ x.x0 }}</a> ({{ x.x1 }})  <input type="checkbox" name="marked" value="{{ x.x0 }}"></p>
    {% endfor %}
</form>
</body>
</html>